fastapi
uvicorn[standard]
sqlalchemy[asyncio]>=2.0
asyncpg
alembic
pydantic-settings
pydantic[email]
python-dotenv
pgvector
python-jose[cryptography]
bcrypt
sentence-transformers

pytest
pytest-asyncio
httpx
